<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выгрузка данных</title>
</head>
<body>
<form action="/result" method="post" name="OrderInfo">
    <h2 style="margin-bottom: 20px; text-align: center; color: brown">На этой странице вы можете получить данные о клиенте</h2>
    <div style="margin-left: 700px; margin-bottom: 20px">

        <input style="height: 30px;" type="text" placeholder="Введите order_uid" name="order_uid" id="inputId">
    </div>
    <input style="margin-left: 700px; color: coral; width: 180px"  type="submit">
</form>
</div>
<div id="data"></div>
</body>
</html>